@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
* {
    font-family: 'Oswald', sans-serif;
}

.header-logo {
    position: absolute;
    height: 60px;
    left: 20px;
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.6));
}

.header {
    position: relative;
    background: #495464;
    color: #fff;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    z-index: 1000;
}

.header-login {
    background: none;
    position: fixed;
}

.header-item-container {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    right: 20px;
}

.header-item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    margin: 10px 16px;
    text-decoration: none;
    font-weight: 200;
    cursor: pointer;
}

@keyframes before {
    0% {
        transform: scale(1.2);
    } 
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        color: rgba(255, 255, 255, 1);
    }
}

.header-item-selected {
    color: rgba(255, 255, 255, 1);
}

.header-item:hover {
    animation-name: before;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.header-login-icon {
    font-size: 34px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
}

